//color
// $black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 1);
$red: hsl(0, 78%, 63%);
$primaryColor: hsl(182, 69%, 77%);
$opaqueBackground: hsla(0, 14%, 94%, 0.6);
$modalBackground: hsla(0, 0%, 0%, 0.3);
$connectBtn: rgb(23, 88, 73);
$borderBottom: hsla(0, 0%, 0%, 0.4);
$grayText: hsla(0, 0%, 0%, 0.65);
$button: hsla(324, 93%, 54%, 1);
$ticketBackground: rgb(238, 238, 233);
