//space
$margin-tiny: 0.5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;

//opacity
$hover: 0.8;

//line height
$line-height: 1.5;

//font
$font-12: 0.75rem;
$font-13: 0.84rem;
$font-15: 0.9375rem;
$font-16: 0.98128rem;
$font-18: 1.125rem;
$font-19: 1.1875rem;
$font-23: 1.4375rem;
$font-24: clamp(1.2rem, 3vw, 1.4rem);
$font-25: 1.575rem;
$font-30: 1.875rem;
