@use '../layout/index.scss';
@use '../abstract/' as a;
@use './typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: a.$white;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  border: 0;
  outline: 0;
}

img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
