@use '../../styles/abstract/' as a;

.profileSection {
  width: 100%;
  min-width: 920px;
  height: 100%;
  @include a.centerItem;
  flex-direction: column;
}
.container {
  width: 100%;
  height: max-content;
  @include a.centerItem;
  padding-inline: 3em;
}

.ProfileContainer {
  width: 100%;
  height: 30vh;
  background: a.$profileBackground;
  position: relative;

  &__profileIconContainer {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: white;
    @include a.centerItem;
    position: absolute;
    left: 3em;
    top: 73%;

    .profileIcon {
      display: block;
      height: 6rem;
      width: 6rem;
    }
  }
}

.address_balance_container {
  width: 100%;
  height: 7rem;

  @include a.centerItem;
  justify-content: space-between;
  border-bottom: 1px solid a.$black;

  &__balanceContainer {
    margin-top: 3em;
    min-height: 2rem;
    gap: 0.2em;
    width: max-content;
    @include a.centerItem;
    flex-direction: column;
    align-items: flex-start;

    .innerBalanceContainer {
      @include a.centerItem;
      gap: 0.3em;
      img {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin-block: auto;
      }
      p {
        margin-block: auto;
      }
    }
    .amount {
      text-align: center;
      margin-block: 0;
    }
  }
  .infoIcon {
    display: block;
    margin-top: 4em;
    width: 2rem;
    height: 2rem;
  }
}

.ticketContainer {
  width: 100%;
  height: 6rem;
  padding-block: 0.5em;
  @include a.centerItem;
  border-bottom: 1px solid a.$black;

  &__text {
    @include a.centerItem;
    justify-content: flex-start;
    font-size: 1.1rem;
    padding-left: 3em;
    margin-block: 0;
    height: 100%;
    width: 100%;
    background: hsla(0, 12%, 93%, 1);
  }
}

.background {
  background: hsla(0, 0%, 85%, 1);
}

.bordeBottom {
  border-bottom: none;
}

.viewTicketButton {
  margin-block: 1em;
  width: 14rem !important;
  height: a.rem(50) !important;
  border: none !important;
  outline: none !important;
  border-radius: 10px !important;
  background: a.$button !important;
  color: a.$white !important;
  text-transform: capitalize !important;
  font-weight: a.weight(bold) !important;
  cursor: pointer !important;

  &:hover {
    opacity: a.$hover !important;
  }
}
